[Unit]
Description=AppDynamics Machine Agent

[Service]
# The AppDynamics machine agent startup script does not fork a process, so
# this is a simple service.
# Note: if changing the User running the machine agent, you must also ensure
# that the User has full permissions to the machine agent. This can be done
# with a "chown -R User /opt/appdynamics"

Type=simple

Environment=MACHINE_AGENT_HOME=/opt/appdynamics/machine-agent
Environment=JAVA_HOME=/opt/appdynamics/machine-agent/jre
Environment=piddir=/var/run/appdynamics
Environment=lockdir=/var/lock/subsys

PIDFile=/var/run/appdynamics/appdynamics-machine-agent
ExecStart=/opt/appdynamics/machine-agent/scripts/machine-agent-daemon
User=root

[Install]
# Start the AppDynamics machine agent service during the setup for a
# non-graphical multi-user system.
WantedBy=multi-user.target

